<li>
  <label class="item-radio item-content">
    <%= f.radio_button field_name, value %>
    <i class="icon icon-radio"></i>
    <div class="item-inner">
      <div class="item-title"><%= field_title %></div>
    </div>
  </label>
</li>
