// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
  $skinLogo: url("logo.png") no-repeat 0 0;
  $skinActiveColor: #6E828A;
  $skinHeaderBck: #413D3D;
  $panelHeaderBck: #143A52;
  @import "active_skin";
  form fieldset.inputs {
    padding-top:0px;
  }
  .panel > h3 {
    margin-top: 0px;
  }
  #header h1.site_title {
    background-color: #fff;
    background: none;
    padding-left: 30px;
    color: #1e2a33;
    text-indent: 0px;
    font-size: 20px;
  }

